@using OroSmart.Data.Pagination;

@model PaginatedList<UserLoginHistory>
<table class="table" id="styleTable">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Login Time</th>
            <th>Login IP Address</th>
            <th>Logout Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loginHistory in Model)
        {
            <tr>
                <td>@loginHistory.FullName</td>
                <td>@(loginHistory.LoginTime.HasValue ? loginHistory.LoginTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "-")</td>
                <td>@(loginHistory.LoginIpAddress ?? "-")</td>
                <td>@(loginHistory.LogoutTime.HasValue ? loginHistory.LogoutTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "-")</td>
            </tr>
        }
    </tbody>
</table>


@{
    string prevDisabled = Model.PageIndex == 1 ? "disabled" : "";
    string nextDisabled = Model.PageIndex == Model.TotalPages ? "disabled" : "";
}

<div class="pagination justify-content-center">
    <a asp-action="UserLoginHistory" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">Previous</a>

    <div class="pagination-list">
        @if (Model.PageIndex > 3)
        {
            <form asp-action="UserLoginHistory" asp-route-pageNumber="1" method="post" class="d-inline">
                <button type="submit" class="btn btn-secondary">1</button>
            </form>
            <span>...</span>
        }

        @for (int i = Math.Max(1, Model.PageIndex - 2); i <= Math.Min(Model.TotalPages, Model.PageIndex + 2); i++)
        {
            <form asp-action="UserLoginHistory" asp-route-pageNumber="@i" method="post" class="d-inline">
                <input id="userNameSearch" type="hidden" value="@ViewBag.userNameSearch" name="userNameSearch" />
                <input id="ipAddressSearch" type="hidden" value="@ViewBag.ipAddressSearch" name="ipAddressSearch" />
                <input id="loginTimeSearch" type="hidden" value="@ViewBag.LoginTimeSearch" name="loginTimeSearch" />
                <input id="logoutTimeSearch" type="hidden" value="@ViewBag.LogoutTimeSearch" name="logoutTimeSearch" />
                <input id="pageNumber" type="hidden" value="@i" name="pageNumber" />
                <button type="submit" class="btn @(i == Model.PageIndex ? "btn-primary" : "btn-secondary")">@i</button>
            </form>
        }

        @if (Model.PageIndex < Model.TotalPages - 2)
        {
            <span>...</span>
            <form asp-action="UserLoginHistory" asp-route-pageNumber="@Model.TotalPages" method="post" class="d-inline">
                <button type="submit" class="btn btn-secondary">@Model.TotalPages</button>
            </form>
        }
    </div>

    <a asp-action="UserLoginHistory" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">Next</a>
</div>