@using OroSmart.Data.ViewModels;

@* @model List<UserLoginVM>  *@
@using OroSmart.Data.Pagination;
@model PaginatedList<UserLoginVM>

<h2>User Logins</h2>

<div id="pjax-container">
    <form id="searchForm"  style="padding-right: 25px;">
        <div class="input-group">
            <input id="userNameSearch_hi" name="userNameSearch" value="@ViewBag.userNameSearch" type="text" class="form-control" placeholder="Search by User Name">
            <input id="ipAddressSearch_hi" name="ipAddressSearch" value="@ViewBag.ipAddressSearch" type="text" class="form-control" placeholder="Search by IP Address">
            <input id="lastLoginTimeSearch_hi" name="lastLoginTimeSearch" value="@ViewBag.lastLoginTimeSearch" type="datetime-local" class="form-control" placeholder="Search by Last Login Time">
            <button id="searchButton" class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            
        </div>
    </form>

    <table id="tables" class="table">


        @await Html.PartialAsync("_FilterWithPjaxViews")
    </table>
    
</div>
<!--@{
    string prevDisabled = Model.PageIndex == 1 ? "disabled" : "";
    string nextDisabled = Model.PageIndex == Model.TotalPages ? "disabled" : "";
}

 @if (Model.TotalPages > 1)
{
    <div class="pagination justify-content-center">
        @if (Model.HasPrevieousPage)
        {
        <a asp-action="FilterWithPjax" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">Previous</a> 
        }
        
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
        <div class="pagination-list">
            <form asp-action="FilterWithPjax" asp-route-pageNumber=@i method="get" class="d-inline">
                    <input id="userNameSearch" type="hidden" value="@ViewBag.userNameSearch" name="userNameSearch" />
                    <input id="ipAddressSearch" type="hidden" value="@ViewBag.ipAddressSearch" name="ipAddressSearch" />
                    <input id="lastLoginTimeSearch" type="hidden" value="@ViewBag.lastLoginTimeSearch" name="lastLoginTimeSearch" />
                    <input id="pageNumber" type="hidden" value="@i" name="pageNumber" />
                    <button type="submit" class="btn @(i == Model.PageIndex ? "btn-primary" : "btn-secondary")">@i</button>
            </form>

            @* <span>...</span> *@
        </div>
         }
        @if (Model.HasNextieousPage)
        {
        <a asp-action="FilterWithPjax" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">Next</a>
        } 
    </div>
} 


@section Scripts {
    <script type="text/javascript" src="~/js/userLogin.js"></script>
}

