@*  @model List<UserLoginHistory>  *@
@using OroSmart.Data.Pagination;
@model PaginatedList<UserLoginHistory>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <form id="searchForm"  >
        <div class="input-group">
            <tr>
                <td>
                    <input id="userNameSearch_query"  type="text" class="form-control"
                           placeholder="Search by User Name" value="@ViewBag.userNameSearch">
                </td>
                <td>
                    <input id="loginTimeSearch_query"  type="datetime-local"
                           class="form-control" placeholder="Search by Login Time" value="@ViewBag.LoginTimeSearch">
                </td>
                <td>
                    <input id="ipAddressSearch_query"  type="text" class="form-control"
                           placeholder="Search by IP Address" value="@ViewBag.IPAddressSearch">
                </td>
                <td>
                    <input id="logoutTimeSearch_query"  type="datetime-local"
                           class="form-control" placeholder="Search by Logout Time" value="@ViewBag.LogoutTimeSearch">
                </td>
                <td>
                    <button id="searchButton_query" class="btn" type="submit">
                        <i class="bi bi-search" id="searchButton"></i> Search
                    </button>
                </td>
            </tr>
        </div>
    </form>


    <div id="searchContainer">

    @await Html.PartialAsync("_FilterWithPjaxViews")
    </div>
        


}

@section Scripts {
    <script type="text/javascript" src="~/js/userLogin.js"></script>
    <script>
        {
            var urlParams = new URLSearchParams(window.location.search);
            urlParams.set("userNameSearch", "@ViewBag.userNameSearch");
            urlParams.set("ipAddressSearch", "@ViewBag.IPAddressSearch");
            urlParams.set("loginTimeSearch", "@ViewBag.LoginTimeSearch");
            urlParams.set("logoutTimeSearch", "@ViewBag.LogoutTimeSearch");
            urlParams.set("pageNumber", "@ViewBag.pageNumber");
            history.replaceState(null, null, "?" + urlParams.toString());
        }
    </script>
}