@using OroSmart.Data.ViewModels;

@* @model List<UserLoginVM>  *@
@using OroSmart.Data.Pagination;
@model PaginatedList<UserLoginVM>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{

    <h2>User Logins</h2>

    <table class="table">
        <form id="searchForm" class="form-check-inline my-2 my-0 my-lg-0" asp-controller="Account" asp-action="Filter" style="padding-right: 25px;">
            <div class="input-group">

                <input id="userNameSearch" name="userNameSearch" type="text" class="form-control" placeholder="Search by User Name">
                <input id="ipAddressSearch" name="ipAddressSearch" type="text" class="form-control" placeholder="Search by IP Address">
                <input name="lastLoginTimeSearch" type="datetime-local" class="form-control" placeholder="Search by Last Login Time">
                @* <input id="lastLoginTimeSearch" name="lastLoginTimeSearch" type="text" class="form-control" placeholder="Search by Last Login Time (MM/dd/yyyy h:mm:ss tt)"> *@

                <button id="searchButton" class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>
        <thead>

            <tr>
                <th>User Name</th>
                <th>IP Address</th>
                <th>Lasted Login</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var userLogin in Model)
            {
                <tr>
                    <td>@userLogin.UserName</td>
                    <td>@userLogin.IPAddress</td>
                    <td>@userLogin.LastLoginTime</td>

                </tr>
            }
        </tbody>
    </table>

}

@{
    string prevDisabled = Model.PageIndex == 1 ? "disabled" : "";
    string nextDisabled = Model.PageIndex == Model.TotalPages ? "disabled" : "";
}

<div class="pagination justify-content-center">
    <a asp-action="UserLogins" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">Previous</a>

    <div class="pagination-list">
        @if (Model.PageIndex > 3)
        {
            <form asp-action="UserLogins" asp-route-pageNumber="1" method="post" class="d-inline">
                <button type="submit" class="btn btn-secondary">1</button>
            </form>
            <span>...</span>
        }

        @for (int i = Math.Max(1, Model.PageIndex - 2); i <= Math.Min(Model.TotalPages, Model.PageIndex + 2); i++)
        {
            <form asp-action="UserLogins" asp-route-pageNumber="@i" method="post" class="d-inline">
                <button type="submit" class="btn @(i == Model.PageIndex ? "btn-primary" : "btn-secondary")">@i</button>
            </form>
        }

        @if (Model.PageIndex < Model.TotalPages - 2)
        {
            <span>...</span>
            <form asp-action="UserLogins" asp-route-pageNumber="@Model.TotalPages" method="post" class="d-inline">
                <button type="submit" class="btn btn-secondary">@Model.TotalPages</button>
            </form>
        }
    </div>

    <a asp-action="UserLogins" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">Next</a>
</div>






