@using OroSmart.Data.Pagination;
@model PaginatedList<UserLoginHistory>

<div id="searchContainer" style="padding: 30px;">
    @await Html.PartialAsync("_FilterWithPjaxViews")
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/userLogin.js"></script>
    <script>
        {
            var urlParams = new URLSearchParams(window.location.search);
            urlParams.set("userNameSearch", "@Html.Raw(ViewBag.userNameSearch)");
            urlParams.set("ipAddressSearch", "@Html.Raw(ViewBag.IPAddressSearch)");
            urlParams.set("loginTimeSearch", "@Html.Raw(ViewBag.LoginTimeSearch)");
            urlParams.set("logoutTimeSearch", "@Html.Raw(ViewBag.LogoutTimeSearch)");
            urlParams.set("pageNumber", "@Html.Raw(ViewBag.pageNumber)");
            history.replaceState(null, null, "?" + urlParams.toString());
        }
    </script>
    }






