@model ContactType
@inject LanguageService language;


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@language.Getkey("contacttypedetails")</title>
  <link rel="stylesheet" href="~/css/Customers/customer.css" asp-append-version="true" />

    <div class="center-container">
        <div class="container custom-container">
            <h2 class="text-center">Contact Type Details</h2>
            <form>
                <div class="form-group">
                    <label class="control-label">@language.Getkey("name")</label>
                    <input class="form-control" value="@Model.Name" readonly />
                </div>

                <div class="form-group">
                    <label class="control-label">@language.Getkey("note")</label>
                    <input class="form-control" value="@Model.Note" readonly />
                </div>
            </form>

            <div class="row">
                <div class="col">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-block">@language.Getkey("edit")</a>
                </div>
                <div class="col">
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-block">@language.Getkey("delete")</a>
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-secondary btn-block">@language.Getkey("back")</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

