@model OroSmart.Data.ViewModels.ChangePasswordVM
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("settings");
    var userEmail = ViewBag.UserEmail as string;
}
@if (User.Identity.IsAuthenticated){
<div class="container" style="margin-top:30px;">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-5 mb-3">
            <div class="card">
                    <div class="card-header">@language.Getkey("settings")</div>
                <div class="list-group list-group-flush">
                        <a asp-controller="Settings" asp-action="userInfo" class="list-group-item list-group-item-action"> <i class="bi bi-person"></i> @language.Getkey("userinfo")</a>
                        <a asp-controller="Settings" asp-action="ChangePassword" class="list-group-item list-group-item-action"> <i class="bi bi-lock"></i> @language.Getkey("changepassword")</a>
                        <a asp-controller="Settings" asp-action="Picture" class="list-group-item list-group-item-action"> <i class="bi bi-camera"></i> @language.Getkey("photo")</a>
                        <a asp-controller="Settings" asp-action="DisplayLanguages" class="list-group-item list-group-item-action"> <i class="bi bi-globe-europe-africa"></i> @language.Getkey("language")</a>
                    <!-- Add more options as needed -->
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-7">
            <div class="card">
                    <div class="card-header">@language.Getkey("changepassword")</div>

                <div class="card-body" id="settingsContent">
                    <!-- Initial content or empty area for selected settings -->
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["SuccessMessage"]
                        </div>
                    }

                    <form asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                                <label asp-for="OldPassword" style="margin-bottom: 10px;">@language.Getkey("oldpassword")</label>
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="margin-top: 15px;">
                                <label asp-for="NewPassword" style="margin-bottom: 10px;">@language.Getkey("newpassword")</label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="margin-top: 15px;">
                                <label asp-for="ConfirmNewPassword" style="margin-bottom: 10px;">@language.Getkey("cpassword")</label>
                            <input asp-for="ConfirmNewPassword" class="form-control" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>

                            <button type="submit" class="btn btn-primary" style="margin-top: 15px;">@language.Getkey("changepassword")</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
}