@* @model OroSmart.Models.Customer *@
@using OroSmart.Data.ViewModels;
@model CustomerViewModel;
@inject LanguageService language;

@{
    var contactTypes = ViewBag.ContactTypes as List<ContactType>; // Assuming ContactType is the type of elements in the list
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@language.Getkey("editcustomer")</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Customers/customer.css" asp-append-version="true" />

</head>
<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#customerInfo">@language.Getkey("editcustomer")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#workLocation">@language.Getkey("customerwork")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#customercontact">Customer Contact</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="customerInfo">
                <h2 class="text-center mt-3">@language.Getkey("editcustomer")</h2>
                <form asp-controller="Customer" asp-action="Edit" method="post">
                    <input type="hidden" asp-for="Customer.Id" />

                    <div class="form-group">
                        <label asp-for="Customer.Name" class="control-label">@language.Getkey("name")</label>
                        <input asp-for="Customer.Name" class="form-control" />
                        <span asp-validation-for="Customer.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Customer.VAT" class="control-label">@language.Getkey("VAT")</label>
                        <input asp-for="Customer.VAT" class="form-control" />
                        <span asp-validation-for="Customer.VAT" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Customer.DateOfRegistration" class="control-label">@language.Getkey("dateofregistration")</label>
                        <input asp-for="Customer.DateOfRegistration" type="date" class="form-control" />
                        <span asp-validation-for="Customer.DateOfRegistration" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="Customer.Active" class="form-check-input" />
                            <label asp-for="Customer.Active" class="form-check-label">@language.Getkey("active")</label>
                        </div>
                        <span asp-validation-for="Customer.Active" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">@language.Getkey("savechanges")</button>
                    </div>
                </form>

                <div class="text-center">
                    <a asp-action="Index">@language.Getkey("back")</a>
                </div>
            </div>
            <div class="tab-pane fade" id="workLocation">
                <h2 class="text-center mt-3">@language.Getkey("edit") @language.Getkey("customerwork")</h2>
                <form asp-controller="CustomersWorkLocation" asp-action="EditWorkLocation" method="post">
                    <input type="hidden" name="customerId" asp-for="Customer.Id" />

                    <div class="form-group">
                        <label asp-for="WorkLocation.City" class="control-label">@language.Getkey("city")</label>
                        <input asp-for="WorkLocation.City" class="form-control" />
                        <span asp-validation-for="WorkLocation.City" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WorkLocation.Address" class="control-label">@language.Getkey("address")</label>
                        <input asp-for="WorkLocation.Address" class="form-control" />
                        <span asp-validation-for="WorkLocation.Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WorkLocation.PostalCode" class="control-label">@language.Getkey("postalcode")</label>
                        <input asp-for="WorkLocation.PostalCode" class="form-control" />
                        <span asp-validation-for="WorkLocation.PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="WorkLocation.IsHeadquarters" class="form-check-input" />
                            <label asp-for="WorkLocation.IsHeadquarters" class="form-check-label">@language.Getkey("headquarters")</label>
                        </div>
                        <span asp-validation-for="WorkLocation.IsHeadquarters" class="text-danger"></span>
                    </div>


                      <div class="form-group">
                        <label asp-for="WorkLocation.ReferencePersonId" class="control-label">@language.Getkey("reference")</label>
                        <select asp-for="WorkLocation.ReferencePersonId" class="form-control" asp-items="ViewBag.UserList"></select>
                        <span asp-validation-for="WorkLocation.ReferencePersonId" class="text-danger"></span>
                    </div>  
                  
                    


                    <div class="form-group">
                        <label asp-for="WorkLocation.Notes" class="control-label">@language.Getkey("notes")</label>
                        <textarea asp-for="WorkLocation.Notes" class="form-control"></textarea>
                        <span asp-validation-for="WorkLocation.Notes" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">@language.Getkey("savechanges")</button>
                    </div>
                    
                </form>

                <div class="text-center">
                    <a asp-controller="Customer" asp-action="Index">@language.Getkey("back")</a>
                </div>
            </div>
          
            <div class="tab-pane fade" id="customercontact">

                <h2 class="text-center mt-3">Edit Customer Contact</h2> 
                <form asp-controller="CustomerContacts" asp-action="EditCustomerContact" method="post">


                    <div class="form-group">
                        <label asp-for="CustomersContacts.ContactTypeId" class="control-label">Contact Type</label>
                        <select asp-for="CustomersContacts.ContactTypeId" class="form-control">
                            <option value="">Select Contact Type</option>
                            @foreach (var contactType in contactTypes)
                            {
                                if (contactType.Id != null && contactType.Name != null)
                                {
                                    <option value="@contactType.Id">@contactType.Name</option>

                                }
                                else
                                {
                                   
                                    <option value="">Invalid Contact Type</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="CustomersContacts.ContactTypeId" class="text-danger"></span> 
                    </div> 

                    <div class="form-group">
                        <label asp-for="CustomersContacts.FirstName" class="control-label">@language.Getkey("firstname")</label>
                        <input asp-for="CustomersContacts.FirstName" class="form-control" />
                        <span asp-validation-for="CustomersContacts.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CustomersContacts.LastName" class="control-label">@language.Getkey("lastname")</label>
                        <input asp-for="CustomersContacts.LastName" class="form-control" />
                        <span asp-validation-for="CustomersContacts.LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CustomersContacts.Contact" class="control-label">@language.Getkey("contact")</label>
                        <input asp-for="CustomersContacts.Contact" class="form-control" />
                        <span asp-validation-for="CustomersContacts.Contact" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CustomersContacts.Note" class="control-label">@language.Getkey("note")</label>
                        <textarea asp-for="CustomersContacts.Note" class="form-control"></textarea>
                        <span asp-validation-for="CustomersContacts.Note" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">@language.Getkey("savechanges")</button>
                    </div>
                </form>
            </div> 
           

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            // Use the ViewBag value to activate the tab
            var activeTab = "@ViewBag.ActiveTab";
            if (activeTab) {
                console.log("asdfdasfsadfdsafasdfsdaf")
                $(`[href="@ViewBag.ActiveTab"]`).tab('show');
            } else {
                $(`[href="#customerInfo"]`).tab('show');
            }
        });
    </script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
