@* @model OroSmart.Models.Customer *@
@using OroSmart.Data.ViewModels;
@model CustomerViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Customer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Customers/customer.css" asp-append-version="true" />

</head>
<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#customerInfo">Customer Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#workLocation">Customer Work Location</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="customerInfo">
                <h2 class="text-center">Customer Information</h2>
                <form>
                    <div class="form-group">
                        <label class="control-label">Customer Name</label>
                        <input class="form-control" value="@Model.Customer.Name" readonly />
                    </div>

                    <div class="form-group">
                        <label class="control-label">VAT</label>
                        <input class="form-control" value="@Model.Customer.VAT" readonly />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Date of Registration</label>
                        <input type="date" class="form-control" value="@Model.Customer.DateOfRegistration.ToString("yyyy-MM-dd")" readonly />
                    </div>

                    <div class="form-group">
                        <label class="form-check-label">Active</label>
                        <input class="form-check-input" type="checkbox" style="margin-left: 20px;" @(Model.Customer.Active ? "checked" : "") disabled />
                    </div>
                </form>

                <div class="row">
                    <div class="col">
                        <a asp-action="Edit" asp-route-id="@Model.Customer.Id" class="btn btn-primary btn-block">Edit</a>
                    </div>
                    <div class="col">
                        <a asp-action="Delete" asp-route-id="@Model.Customer.Id" class="btn btn-danger btn-block">Delete</a>
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-secondary btn-block">Back to List</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="workLocation">
                <h2 class="text-center">Customer Work Location</h2>
        
            <div class="form-group">
                <label class="control-label">City</label>
                    <input class="form-control" value="@(Model.WorkLocation != null ? Model.WorkLocation.City : string.Empty)"  readonly />
            </div>

            <div class="form-group">
                <label class="control-label">Address</label>
                    <input class="form-control" value="@(Model.WorkLocation != null ? Model.WorkLocation.Address : string.Empty)" readonly />
            </div>

            <div class="form-group">
                <label class="control-label">Postal Code</label>
                    <input class="form-control" value="@(Model.WorkLocation != null ? Model.WorkLocation.PostalCode : string.Empty)" readonly />
            </div>

            <div class="form-group">
                <label class="control-label">Headquarters</label>
                    <input class="form-control" value="@(@Model.WorkLocation != null ? (Model.WorkLocation.IsHeadquarters ? "Yes" : "No") : string.Empty)" readonly />

            </div>

            <div class="form-group">
                <label class="control-label">Notes</label>
                    <textarea class="form-control" readonly>@(@Model.WorkLocation != null ? Model.WorkLocation.Notes : string.Empty)</textarea>

            </div>

                <div class="row">
                    <div class="col">
                        <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.Customer.Id" class="btn btn-primary btn-block">Edit</a>
                    </div>
                    <div class="col">
                        <a asp-controller="Customer" asp-action="Delete" asp-route-id="@Model.Customer.Id" class="btn btn-danger btn-block">Delete</a>
                    </div>
                    <div class="col">
                        <a asp-controller="Customer" asp-action="Index" class="btn btn-secondary btn-block">Back to List</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
